In [19]:
import pandas as pd
from parsel import Selector 
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import re
from bs4 import BeautifulSoup as bs

opts = Options()


#driver = webdriver.Chrome (options=opts, executable_path='chromedriver')

#from selenium import webdriver

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("webdriver.chrome.driver=F://web_scraping_ch8/chromedriver.exe")

driver = webdriver.Chrome(options=chrome_options)



#function to ensure all key data fields have a value
def validate_field(field):
    # if field is present pass if field:
    if field:
        pass
    # if field is not present print text else:
    else:
        field = 'No results'
    return field

# driver.get method() will navigate to a page given by the URL address 
driver.get('https://www.linkedin.com')

# Locate email form by_class_name
username= driver.find_element(By.ID, 'session_key')

# send_keys() to simulate key strokes
username.send_keys('erdemtuncer07@gmail.com')

#sleep for 0.5 seconds 
sleep(10)

# Locate password form by_class_name
password = driver.find_element(By.ID, 'session_password')


# send_keys() to simulate key strokes 
password.send_keys('Tardis23')
sleep(10)

# Locate submit button by_xpath
sign_in_button= driver.find_element(By.XPATH, '//*[@type="submit"]')

#.click() to mimic button click
sign_in_button.click()
sleep(15)

In [36]:
from datetime import datetime
import time
import numpy as np 
from bs4 import BeautifulSoup as bs


import re
from selenium import webdriver
import time


start = datetime.now()

job_data = pd.DataFrame(columns=['job_titles', 'companies', 'job_links', 'profile_matches', 'salary', 'promoted', 'location'])

total_pages = 3

for i in range(25, total_pages * 25 + 25, 25):
    url = 'https://www.linkedin.com/jobs/search/?currentJobId=3710744018&f_TPR=r604800&f_WT=2&geoId=103644278&keywords=data%20scientist&location=United%20States&refresh=true&start=' + str(i)
    driver.get(url)
    time.sleep(np.random.randint(9, 14))
    # Execute the JavaScript code to remove "Promoted" job listings
    javascript_code = '''
    var i = 0, x = document.getElementsByClassName('jobs-search-results-list')[0];
    !function e() {
        x.scroll(0, 100 * ++i);
        i > 40 ? null : setTimeout(e, 0);
    }();

    '''
    driver.execute_script(javascript_code)

    # Sleep for a random duration
    time.sleep(np.random.randint(12, 30))

    job_listings = driver.find_elements(by="css selector", value=".job-card-container")

    for job in job_listings:
        job_html = bs(job.get_attribute('innerHTML'), 'html.parser')

        try:
            title = job_html.find(class_='job-card-list__title').text
        except:
            title = ''

        try:
            company = job_html.find(class_='job-card-container__primary-description').text
        except:
            company = ''

        try:
            link = job_html.a['href']
        except:
            link = ''

        try:
            profile_match_element = job_html.find(class_='job-card-container__job-insight-text').text
        except:
            profile_match_element = ''

        try:
            location = job_html.find(class_='job-card-container__metadata-item').text
        except:
            location = ''

        try:
            job_text = job_html.get_text()
            salary_keywords = re.findall(r'\$\d+\s*[-–]\s*\$\d+|\$\d+(?:[\s\-–]\d+)?\s*(?:per|\/)?\s*\w+', job_text)
            salary = ', '.join(salary_keywords)
            salary = salary.replace('K', '') 
        except:
            salary = ''        

        try:
            promoted = job_html.find(class_='job-card-container__footer-item inline-flex align-items-center').text
        except:
            promoted = ''
          
        new_row = pd.DataFrame({'job_titles': [title], 'companies': [company], 'job_links': [link],
                                'profile_matches': [profile_match_element], 'salary': [salary],
                                'promoted': [promoted], 'location': [location]})
        job_data = pd.concat([job_data, new_row], ignore_index=True)

        if (i / 25) % 10 == 0:
            job_data.to_excel('jobs_data_science_remote.xlsx', index=False)

    print(f'page {i / 25} completed')

end = datetime.now()





print(f'Runtime of the program is: {end-start}')
#driver.close()
job_data['job_titles'] = job_data['job_titles'].str.strip()
job_data['companies'] = job_data['companies'].str.strip()
job_data['profile_matches'] = job_data['profile_matches'].str.strip()
job_data['salary'] = job_data['salary'].str.strip()
job_data['promoted'] = job_data['promoted'].str.strip()

job_data['job_links'] = r'https://www.linkedin.com/' + job_data['job_links']

job_data.to_excel('jobs_data_science_remote.xlsx',  index=False) # final save


# Close the WebDriver
#driver.quit()

page 1.0 completed
page 2.0 completed
page 3.0 completed
Runtime of the program is: 0:01:44.533461

In [ ]:
hesna

In [37]:
job_data

,job_titles,companies,job_links,profile_matches,salary,promoted,location
0,"Data Scientist, gt.school (Remote) - $60,000/y...",Crossover,https://www.linkedin.com//jobs/view/3710736999...,3 school alumni work here,"$60, $30/hr",Promoted,"\nDallas, TX (Remote)\n"
1,Senior Data Scientist,Conversica,https://www.linkedin.com//jobs/view/3695101636...,,"$160, $200",Promoted,"\nAustin, TX (Remote)\n"
2,Senior People Data Scientist,Atlassian,https://www.linkedin.com//jobs/view/3708152256...,3 connections work here,,Promoted,\nUnited States (Remote)\n
3,Data Scientist,Signify Health,https://www.linkedin.com//jobs/view/3712634550...,9 company alumni work here,,Promoted,"\nDallas, TX (Remote)\n"
4,"Sr Analyst, Advanced Analytics - Nationwide",Cardinal Health,https://www.linkedin.com//jobs/view/3713022177...,18 company alumni work here,"$75, $92",16 applicants,\nUnited States (Remote)\n
...,...,...,...,...,...,...,...
70,"Senior Data Scientist, gt.school (Remote) - $6...",Crossover,https://www.linkedin.com//jobs/view/3710740598...,3 school alumni work here,"$60, $30/hr",Promoted,"\nHialeah, FL (Remote)\n"
71,"Senior Data Scientist, gt.school (Remote) - $6...",Crossover,https://www.linkedin.com//jobs/view/3710745000...,3 school alumni work here,"$60, $30/hr",Promoted,"\nMiami, FL (Remote)\n"
72,Data Scientist,ClassLink,https://www.linkedin.com//jobs/view/3714724845...,,,Promoted,"\nNew Jersey, United States (Remote)\n"
73,Data Scientist (Generative AI),Citeline,https://www.linkedin.com//jobs/view/3714216191...,1 company alum works here,"$140, $160",Promoted,"\nBoston, MA (Remote)\n"
74,"Senior Data Scientist, Pricing",Clipboard Health,https://www.linkedin.com//jobs/view/3693938109...,Actively recruiting,,Promoted,\nUnited States (Remote)\n

## data scientist, remote, past month

In [43]:
url = '''
https://www.linkedin.com/jobs/search/?currentJobId=3662420832&f_TPR=r2592000&f_WT=2&geoId=103644278&keywords=data%20scientist&location=United%20States&refresh=true&start=
''' + str(i)

In [44]:
18357/25

734.28

In [45]:
from datetime import datetime
import time
import numpy as np 
from bs4 import BeautifulSoup as bs


import re
from selenium import webdriver
import time


start = datetime.now()

job_data = pd.DataFrame(columns=['job_titles', 'companies', 'job_links', 'profile_matches', 'salary', 'promoted', 'location'])

total_pages = 100

for i in range(25, total_pages * 25 + 25, 25):
    driver.get(url)
    time.sleep(np.random.randint(9, 14))
    # Execute the JavaScript code to remove "Promoted" job listings
    javascript_code = '''
    var i = 0, x = document.getElementsByClassName('jobs-search-results-list')[0];
    !function e() {
        x.scroll(0, 100 * ++i);
        i > 40 ? null : setTimeout(e, 0);
    }();

    '''
    driver.execute_script(javascript_code)

    # Sleep for a random duration
    time.sleep(np.random.randint(12, 30))

    job_listings = driver.find_elements(by="css selector", value=".job-card-container")

    for job in job_listings:
        job_html = bs(job.get_attribute('innerHTML'), 'html.parser')

        try:
            title = job_html.find(class_='job-card-list__title').text
        except:
            title = ''

        try:
            company = job_html.find(class_='job-card-container__primary-description').text
        except:
            company = ''

        try:
            link = job_html.a['href']
        except:
            link = ''

        try:
            profile_match_element = job_html.find(class_='job-card-container__job-insight-text').text
        except:
            profile_match_element = ''

        try:
            location = job_html.find(class_='job-card-container__metadata-item').text
        except:
            location = ''

        try:
            job_text = job_html.get_text()
            salary_keywords = re.findall(r'\$\d+\s*[-–]\s*\$\d+|\$\d+(?:[\s\-–]\d+)?\s*(?:per|\/)?\s*\w+', job_text)
            salary = ', '.join(salary_keywords)
            salary = salary.replace('K', '') 
        except:
            salary = ''        

        try:
            promoted = job_html.find(class_='job-card-container__footer-item inline-flex align-items-center').text
        except:
            promoted = ''
          
        new_row = pd.DataFrame({'job_titles': [title], 'companies': [company], 'job_links': [link],
                                'profile_matches': [profile_match_element], 'salary': [salary],
                                'promoted': [promoted], 'location': [location]})
        job_data = pd.concat([job_data, new_row], ignore_index=True)

        if (i / 25) % 10 == 0:
            job_data.to_excel('jobs_data_science_remote.xlsx', index=False)

    print(f'page {i / 25} completed')

end = datetime.now()





print(f'Runtime of the program is: {end-start}')
#driver.close()
job_data['job_titles'] = job_data['job_titles'].str.strip()
job_data['companies'] = job_data['companies'].str.strip()
job_data['profile_matches'] = job_data['profile_matches'].str.strip()
job_data['salary'] = job_data['salary'].str.strip()
job_data['promoted'] = job_data['promoted'].str.strip()

job_data['job_links'] = r'https://www.linkedin.com/' + job_data['job_links']

job_data.to_excel('jobs_data_science_remote_9_9_100_pages.xlsx',  index=False) # final save


# Close the WebDriver
#driver.quit()

page 1.0 completed
page 2.0 completed
page 3.0 completed
page 4.0 completed
page 5.0 completed
page 6.0 completed
page 7.0 completed
page 8.0 completed
page 9.0 completed
page 10.0 completed
page 11.0 completed
page 12.0 completed
page 13.0 completed
page 14.0 completed
page 15.0 completed
page 16.0 completed
page 17.0 completed
page 18.0 completed
page 19.0 completed
page 20.0 completed
page 21.0 completed
page 22.0 completed
page 23.0 completed
page 24.0 completed
page 25.0 completed
page 26.0 completed
page 27.0 completed
page 28.0 completed
page 29.0 completed
page 30.0 completed
page 31.0 completed
page 32.0 completed
page 33.0 completed
page 34.0 completed
page 35.0 completed
page 36.0 completed
page 37.0 completed
page 38.0 completed
page 39.0 completed
page 40.0 completed
page 41.0 completed
page 42.0 completed
page 43.0 completed
page 44.0 completed
page 45.0 completed
page 46.0 completed
page 47.0 completed
page 48.0 completed
page 49.0 completed
page 50.0 completed
page 51.0 completed
page 52.0 completed
page 53.0 completed
page 54.0 completed
page 55.0 completed
page 56.0 completed
page 57.0 completed
page 58.0 completed
page 59.0 completed
page 60.0 completed
page 61.0 completed
page 62.0 completed
page 63.0 completed
page 64.0 completed
page 65.0 completed
page 66.0 completed
page 67.0 completed
page 68.0 completed
page 69.0 completed
page 70.0 completed
page 71.0 completed
page 72.0 completed
page 73.0 completed
page 74.0 completed
page 75.0 completed
page 76.0 completed
page 77.0 completed
page 78.0 completed
page 79.0 completed
page 80.0 completed
page 81.0 completed
page 82.0 completed
page 83.0 completed
page 84.0 completed
page 85.0 completed
page 86.0 completed
page 87.0 completed
page 88.0 completed
page 89.0 completed
page 90.0 completed
page 91.0 completed
page 92.0 completed
page 93.0 completed
page 94.0 completed
page 95.0 completed
page 96.0 completed
page 97.0 completed
page 98.0 completed
page 99.0 completed
page 100.0 completed
Runtime of the program is: 0:54:30.037144

In [79]:
job_data.shape

(2324, 9)

In [80]:
job_data.drop_duplicates(subset=None, keep='first', inplace=False)
job_data.shape

(2324, 9)

In [81]:
job_data.head(5)

,job_titles,companies,job_links,profile_matches,salary,promoted,location,min_salary,max_salary
0,Senior Data Scientist,Husch Blackwell,https://www.linkedin.com//jobs/view/3662420832...,2 company alumni work here,,Promoted,"\nKansas City, MO (Remote)\n",0.0,0.0
1,Senior Data Scientist,Rocket Money (formerly Truebill),https://www.linkedin.com//jobs/view/3691712927...,,"$150, $190",Promoted,"\nWashington, DC (Remote)\n",150.0,190.0
2,Senior Data Scientist,TekStream Solutions,https://www.linkedin.com//jobs/view/3705754575...,Actively recruiting,,Promoted,\nUnited States (Remote)\n,0.0,0.0
3,Sr Data Scientist,Blue Cross NC,https://www.linkedin.com//jobs/view/3703404380...,9 company alumni work here,,Promoted,\nUnited States (Remote)\n,0.0,0.0
4,"Sr Analyst, Advanced Analytics - Nationwide",Cardinal Health,https://www.linkedin.com//jobs/view/3713018595...,18 company alumni work here,"$75, $92",11 applicants,"\nCalifornia, United States (Remote)\n",75.0,92.0

In [52]:
job_data['job_titles'].unique()

array(['Senior Data Scientist', 'Sr Data Scientist',
       'Sr Analyst, Advanced Analytics - Nationwide',
       'Senior Data Analyst - Go To Market (Remote)',
       'Sr. Data Scientist, Search',
       'Sr. Analyst, DEI Data Analytics, Evaluation & Reporting (Remote Eligible)',
       'Senior People Data Scientist',
       'Sr. Data Analyst - Optum Behavioral Health - Remote',
       'Data Scientist', 'Senior Data Analyst (hybrid)',
       'RWE Data Scientist', 'Senior Data Scientist with ChatGPT',
       'Sr. Data Scientist I', 'Senior Data Scientist, Pricing',
       'Staff Data Scientist',
       'Analyst II – Business Intelligence Analyst [Remote]',
       'Data Analyst (100% Remote)', 'Risk Data Analyst',
       'Senior Data Analyst', 'Data Analyst Senior to Lead',
       'Sr. Data Analyst', 'Quantitative Researcher',
       'Sustainability Data Analyst',
       'Remote Data Analyst/Power BI (Mid-Level)',
       'Senior Business Intelligence Analyst (Hybrid and/or Remote Opportunity)',
       'Data Scientist / Senior Data Scientist',
       'Data Scientist - Remote, US', 'Data Scientist (Remote)',
       'Mid-Level Data Scientist'], dtype=object)

In [54]:
job_data['salary'].value_counts(dropna=False)

                  905
$75, $92          200
$70, $100         155
$40/hr            142
$88, $120          79
$60, $80           77
$105, $173         72
$68, $110          71
$64/hr, $66/hr     71
$40, $160          70
$72, $108          70
$150, $190         63
$125, $155         50
$145, $190         47
$10, $175          47
$125, $157         47
$160, $200         37
$180, $220         28
$110, $137         28
$86, $138          16
$140               16
$180, $230         12
$106, $130         12
$131, $224          9
Name: salary, dtype: int64

In [56]:
import pandas as pd


# Extract minimum and maximum salary from the salary column
job_data[['min_salary', 'max_salary']] = job_data['salary'].str.extract(r'\$?(\d+)(?:,\s*\$?(\d+))?')

# Convert the extracted values to numeric (remove ',' and '/hr' if present)
job_data['min_salary'] = pd.to_numeric(job_data['min_salary'].str.replace(',', '').str.replace('/hr', ''), errors='coerce')
job_data['max_salary'] = pd.to_numeric(job_data['max_salary'].str.replace(',', '').str.replace('/hr', ''), errors='coerce')

# Fill NaN values with 0 or any other appropriate value
job_data['min_salary'].fillna(0, inplace=True)
job_data['max_salary'].fillna(0, inplace=True)

job_data[['min_salary', 'max_salary']]

      min_salary  max_salary
0            0.0         0.0
1          150.0       190.0
2            0.0         0.0
3            0.0         0.0
4           75.0        92.0
...          ...         ...
2319        60.0        80.0
2320         0.0         0.0
2321        70.0       100.0
2322         0.0         0.0
2323       105.0       173.0

[2324 rows x 2 columns]

In [65]:
job_data[(job_data['salary'].notnull()) &
        (job_data['min_salary'] != 0)
        ][['salary','min_salary','max_salary']].head(50)

         salary  min_salary  max_salary
1    $150, $190       150.0       190.0
4      $75, $92        75.0        92.0
5    $110, $137       110.0       137.0
6    $180, $220       180.0       220.0
8     $88, $120        88.0       120.0
13   $125, $155       125.0       155.0
16     $75, $92        75.0        92.0
20   $160, $200       160.0       200.0
21         $140       140.0         0.0
22     $75, $92        75.0        92.0
24    $86, $138        86.0       138.0
26   $150, $190       150.0       190.0
29     $75, $92        75.0        92.0
30   $110, $137       110.0       137.0
31   $180, $220       180.0       220.0
33    $88, $120        88.0       120.0
38   $125, $155       125.0       155.0
41     $75, $92        75.0        92.0
45   $160, $200       160.0       200.0
46         $140       140.0         0.0
47     $75, $92        75.0        92.0
49    $86, $138        86.0       138.0
51   $150, $190       150.0       190.0
54     $75, $92        75.0        92.0
55   $110, $137       110.0       137.0
56   $180, $220       180.0       220.0
58    $88, $120        88.0       120.0
63   $125, $155       125.0       155.0
66     $75, $92        75.0        92.0
70   $160, $200       160.0       200.0
71         $140       140.0         0.0
72     $75, $92        75.0        92.0
74    $86, $138        86.0       138.0
76   $150, $190       150.0       190.0
79     $75, $92        75.0        92.0
80   $110, $137       110.0       137.0
81   $180, $220       180.0       220.0
83    $88, $120        88.0       120.0
84         $140       140.0         0.0
85     $75, $92        75.0        92.0
87    $86, $138        86.0       138.0
89   $150, $190       150.0       190.0
92     $75, $92        75.0        92.0
93   $110, $137       110.0       137.0
94   $180, $220       180.0       220.0
96    $88, $120        88.0       120.0
101  $125, $155       125.0       155.0
104    $75, $92        75.0        92.0
108  $160, $200       160.0       200.0
109        $140       140.0         0.0

In [72]:
job_data.groupby('companies').count().sort_values(by='job_titles', ascending=False)

,job_titles,job_links,profile_matches,salary,promoted,location,min_salary,max_salary
companies,,,,,,,,
Cardinal Health,200,200,200,200,200,200,200,200
Dice,157,157,157,157,157,157,157,157
Trane Technologies,155,155,155,155,155,155,155,155
Braintrust,142,142,142,142,142,142,142,142
Optum,98,98,98,98,98,98,98,98
JLL,84,84,84,84,84,84,84,84
Raft,81,81,81,81,81,81,81,81
Mathematica,79,79,79,79,79,79,79,79
National General,77,77,77,77,77,77,77,77
Stanford University,72,72,72,72,72,72,72,72
Progressive Insurance,71,71,71,71,71,71,71,71
"OPIS, A Dow Jones Company",70,70,70,70,70,70,70,70
General Dynamics Information Technology,70,70,70,70,70,70,70,70
Rocket Money (formerly Truebill),63,63,63,63,63,63,63,63
Atlassian,51,51,51,51,51,51,51,51
Signifyd,50,50,50,50,50,50,50,50
StackAdapt,47,47,47,47,47,47,47,47
Apex Systems,47,47,47,47,47,47,47,47
AKASA,47,47,47,47,47,47,47,47
Epsilon,47,47,47,47,47,47,47,47
Earnest,47,47,47,47,47,47,47,47
Flock Safety,47,47,47,47,47,47,47,47
EquipmentShare,46,46,46,46,46,46,46,46
TekStream Solutions,41,41,41,41,41,41,41,41
Randstad Life Sciences US,38,38,38,38,38,38,38,38
Idexcel,37,37,37,37,37,37,37,37
Conversica,37,37,37,37,37,37,37,37
Wunder Fund,30,30,30,30,30,30,30,30
KINETIC,28,28,28,28,28,28,28,28
New Relic,28,28,28,28,28,28,28,28
Blue Cross NC,28,28,28,28,28,28,28,28
Signify Health,25,25,25,25,25,25,25,25
Illumination Works,24,24,24,24,24,24,24,24
KX,21,21,21,21,21,21,21,21
Peraton,16,16,16,16,16,16,16,16
Pinterest,16,16,16,16,16,16,16,16
Pax8,16,16,16,16,16,16,16,16
Husch Blackwell,16,16,16,16,16,16,16,16
Clipboard Health,16,16,16,16,16,16,16,16
Diamondpick,13,13,13,13,13,13,13,13
Simplr,13,13,13,13,13,13,13,13
Evolve,12,12,12,12,12,12,12,12
SentiLink,12,12,12,12,12,12,12,12
ServiceNow,9,9,9,9,9,9,9,9

In [69]:
job_data.groupby('companies')[['min_salary','max_salary']].max()

                                         min_salary  max_salary
companies
AKASA                                         145.0       190.0
Apex Systems                                    0.0         0.0
Atlassian                                       0.0         0.0
Blue Cross NC                                   0.0         0.0
Braintrust                                     40.0         0.0
Cardinal Health                                75.0        92.0
Clipboard Health                                0.0         0.0
Conversica                                    160.0       200.0
Diamondpick                                     0.0         0.0
Dice                                           64.0         0.0
Earnest                                       125.0       157.0
Epsilon                                         0.0         0.0
EquipmentShare                                  0.0         0.0
Evolve                                        106.0       130.0
Flock Safety                                   10.0       175.0
General Dynamics Information Technology        72.0       108.0
Husch Blackwell                                 0.0         0.0
Idexcel                                         0.0         0.0
Illumination Works                              0.0         0.0
JLL                                             0.0         0.0
KINETIC                                       180.0       220.0
KX                                              0.0         0.0
Mathematica                                    88.0       120.0
National General                               60.0        80.0
New Relic                                     110.0       137.0
OPIS, A Dow Jones Company                      40.0       160.0
Optum                                           0.0         0.0
Pax8                                          140.0         0.0
Peraton                                        86.0       138.0
Pinterest                                       0.0         0.0
Progressive Insurance                          68.0       110.0
Raft                                            0.0         0.0
Randstad Life Sciences US                       0.0         0.0
Rocket Money (formerly Truebill)              150.0       190.0
SentiLink                                     180.0       230.0
ServiceNow                                    131.0       224.0
Signify Health                                  0.0         0.0
Signifyd                                      125.0       155.0
Simplr                                          0.0         0.0
StackAdapt                                      0.0         0.0
Stanford University                           105.0       173.0
TekStream Solutions                             0.0         0.0
Trane Technologies                             70.0       100.0
Wunder Fund                                     0.0         0.0

In [75]:
# Group by 'companies', calculate the count of job titles and the max of max_salary
grouped = job_data.groupby('companies').agg({'job_titles': 'count', 'max_salary': 'max'})

# Sort the DataFrame by the count of job titles in descending order
sorted_df = grouped.sort_values(by='job_titles', ascending=False)
sorted_df

                                         job_titles  max_salary
companies
Cardinal Health                                 200        92.0
Dice                                            157         0.0
Trane Technologies                              155       100.0
Braintrust                                      142         0.0
Optum                                            98         0.0
JLL                                              84         0.0
Raft                                             81         0.0
Mathematica                                      79       120.0
National General                                 77        80.0
Stanford University                              72       173.0
Progressive Insurance                            71       110.0
OPIS, A Dow Jones Company                        70       160.0
General Dynamics Information Technology          70       108.0
Rocket Money (formerly Truebill)                 63       190.0
Atlassian                                        51         0.0
Signifyd                                         50       155.0
StackAdapt                                       47         0.0
Apex Systems                                     47         0.0
AKASA                                            47       190.0
Epsilon                                          47         0.0
Earnest                                          47       157.0
Flock Safety                                     47       175.0
EquipmentShare                                   46         0.0
TekStream Solutions                              41         0.0
Randstad Life Sciences US                        38         0.0
Idexcel                                          37         0.0
Conversica                                       37       200.0
Wunder Fund                                      30         0.0
KINETIC                                          28       220.0
New Relic                                        28       137.0
Blue Cross NC                                    28         0.0
Signify Health                                   25         0.0
Illumination Works                               24         0.0
KX                                               21         0.0
Peraton                                          16       138.0
Pinterest                                        16         0.0
Pax8                                             16         0.0
Husch Blackwell                                  16         0.0
Clipboard Health                                 16         0.0
Diamondpick                                      13         0.0
Simplr                                           13         0.0
Evolve                                           12       130.0
SentiLink                                        12       230.0
ServiceNow                                        9       224.0

In [76]:
# Group by 'companies', calculate the count of job titles and the max of max_salary
grouped = job_data.groupby('companies').agg({'job_titles': 'count', 'min_salary': 'min'})

# Sort the DataFrame by the count of job titles in descending order
sorted_df = grouped.sort_values(by='job_titles', ascending=False)
sorted_df

                                         job_titles  min_salary
companies
Cardinal Health                                 200        75.0
Dice                                            157         0.0
Trane Technologies                              155        70.0
Braintrust                                      142        40.0
Optum                                            98         0.0
JLL                                              84         0.0
Raft                                             81         0.0
Mathematica                                      79        88.0
National General                                 77        60.0
Stanford University                              72       105.0
Progressive Insurance                            71        68.0
OPIS, A Dow Jones Company                        70        40.0
General Dynamics Information Technology          70        72.0
Rocket Money (formerly Truebill)                 63       150.0
Atlassian                                        51         0.0
Signifyd                                         50       125.0
StackAdapt                                       47         0.0
Apex Systems                                     47         0.0
AKASA                                            47       145.0
Epsilon                                          47         0.0
Earnest                                          47       125.0
Flock Safety                                     47        10.0
EquipmentShare                                   46         0.0
TekStream Solutions                              41         0.0
Randstad Life Sciences US                        38         0.0
Idexcel                                          37         0.0
Conversica                                       37       160.0
Wunder Fund                                      30         0.0
KINETIC                                          28       180.0
New Relic                                        28       110.0
Blue Cross NC                                    28         0.0
Signify Health                                   25         0.0
Illumination Works                               24         0.0
KX                                               21         0.0
Peraton                                          16        86.0
Pinterest                                        16         0.0
Pax8                                             16       140.0
Husch Blackwell                                  16         0.0
Clipboard Health                                 16         0.0
Diamondpick                                      13         0.0
Simplr                                           13         0.0
Evolve                                           12       106.0
SentiLink                                        12       180.0
ServiceNow                                        9       131.0

In [78]:
job_data[job_data['companies'] =='Earnest']

,job_titles,companies,job_links,profile_matches,salary,promoted,location,min_salary,max_salary
1226,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1243,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1268,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1293,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1318,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1343,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1368,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1393,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1418,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1434,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1459,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1484,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1509,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1534,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1559,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1584,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1609,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1634,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1650,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1675,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1700,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1713,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1736,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1761,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1786,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1810,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1826,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1851,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1876,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1901,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1926,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1951,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
1976,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2001,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2026,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2051,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2076,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2101,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2128,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2145,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2170,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2192,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2217,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2231,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2256,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2281,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0
2306,"Data Scientist - Remote, US",Earnest,https://www.linkedin.com//jobs/view/3701716703...,,"$125, $157",Promoted,\nUnited States (Remote)\n,125.0,157.0

In [48]:
job_data[job_data['profile_matches']=='Your profile matches this job']

,job_titles,companies,job_links,profile_matches,salary,promoted,location
18,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
43,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
68,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
106,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
131,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
184,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
209,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
234,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
259,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
284,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
309,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
334,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
359,Data Scientist,Diamondpick,https://www.linkedin.com//jobs/view/3647232550...,Your profile matches this job,,Promoted,"\nPhoenix, AZ (Remote)\n"
386,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
411,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
436,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
475,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
500,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
525,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
550,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
602,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
640,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
680,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
705,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
730,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
755,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
780,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
805,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
842,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
867,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
892,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
917,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
942,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
966,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
991,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1016,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1041,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1066,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1091,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1116,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1163,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1188,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"
1213,Quantitative Researcher,Wunder Fund,https://www.linkedin.com//jobs/view/3714816069...,Your profile matches this job,,,"\nNew York, United States (Remote)\n"

In [50]:
# Assuming your DataFrame is named 'job_data'
for index, link in job_data[job_data['profile_matches']=='Your profile matches this job']['job_links'].iteritems():
    print(link)

https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=uNb9PivKtcujigsCEM1b3Q%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=nGGOCYg7EHhB9QZQeVtp7Q%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=I37m%2Bp34o17kIyw2vfj7rg%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=Q6%2BFGKFS1SAcQcAUzNTjvg%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=vbnNMU4Vk4zoR12bjEkIoQ%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=PzP6JZkg9gMwfOhRImGaIw%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=c7ZYUyo0cSw4aKjG0YkpKg%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=Qb6XFsUgdaEwYpCDVzv83Q%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=o3l1tlMBbFaqgB%2FTaoJn%2Fw%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=%2FA4rzN0ugKIzPdW4EUIgQw%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=5%2FLXUelW7lSrfG9JYesgiQ%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=XO8ofTPGRqI5uwPNwPSoiA%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3647232550/?eBP=CwEAAAGKfEvF7cG44d_Pw92Cbvqjjuy9-kyKowW9nZfXTLhLghFIqzngQZfjsJRCMGUq-OxXA3ooIH33OhnvyW7q3612mciA9bcMXRC-k0jDbz_SdjhgFIZ7VCykUa28rIWL-e38s1f6Sod6dhXGif8QdV_3K__QF_kZuAzLgGsj4YS3GvnUfXZxR015pKSrvu6JItG3QEfKepkCIpD2xQIorLpeT4Aus048EEKFGJek3rnO1k8CU7bqtJ-hEETyVxS8x2y1u1NKfmpxJ--5Ibb75xrsR1Tu4taM7vYnAibRQXZ-1PH6vJAJIQkoTWUD9vfmNjwJYmKrRF2DjBATafuvq8tc43mysKxsUR_5GCi2c-wZVUcO_eQ5fOC2DhRiaclcEAMsscw&refId=0ThKzEv2m33cpFykotBQxw%3D%3D&trackingId=MwKhdf%2FCe9SalcmJh%2Bv%2BGA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=kPJ9d%2BfEeyg%2BD6jKPz7n9g%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=aT1IsQuKAfttqsS6dRkcZA%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=HyO1AowkPAFeSsLQIcNsPg%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=MwQOwj9CHshbzWdkkNoC1w%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=jW%2BNZJ7rlJF4X7xLtW30Ug%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=nMb4dxVUb58FoMsrUcbpYg%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=84i7eTo7VfiW2DkIqBZ0Aw%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=u6oQC1u8kRsB3Qq6MEt5bA%3D%3D&trackingId=7p0YWsEyG68JDznbh%2BrwyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=kGBVLPYQgYn9VKE7q30X1w%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=SytJkUmmOnDr%2F3u6xuDqDw%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=gp2tUBLMbfWluxu%2FMnmk%2FA%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=dlaoDSa8DGjEjJyUnS8N6A%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=JxY%2FPDuqoM5ZDOyZJAinxw%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=1CKii0OskhQEZju4qD6VQw%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=4Qc1fO2sClOi5e7x9cPOSQ%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=Zm06MOdr%2BuYDsUtm%2BhvnwQ%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=DEAlU1GL6INu%2B%2FrS9sp60w%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=de25DZvXMW9OjR2zsMG5qQ%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=%2FB8dtTkR5ItfojC%2BAXWerw%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=Xw%2BUcIUV3R0OlHJ3gvaTrA%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=jkzqlOpRNbErKf621lk1HA%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=YI3C9EH0%2B9IiXKWPK08RpA%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=uIncolhAAkGuC8nwajM1aw%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=0kbtZGAuo3CzBFyAz7LgAw%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=46d%2FoEZ8NZLyjo9EpfajRA%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=1%2BSTrb3rnTZDhHRV%2BXkw6A%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=u66offEtLBdHv%2FE9do9kzA%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=0PO%2FDeVpzYXwflLSrQXV4g%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=BS7ZXCfCAAIfMD4TBct81w%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs
https://www.linkedin.com//jobs/view/3714816069/?eBP=JOB_SEARCH_ORGANIC&refId=k4W1oih%2BQbOjHNOTIL%2Fuvg%3D%3D&trackingId=saG%2FvA%2FmZS3SBO44twEHyA%3D%3D&trk=flagship3_search_srp_jobs

C:\Users\erdem\AppData\Local\Temp\ipykernel_1788\3428973058.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for index, link in job_data[job_data['profile_matches']=='Your profile matches this job']['job_links'].iteritems():